body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overlock", cursive;
  user-select: none;
}

.weatherApp {
  margin: 2rem auto;
  width: 450px;
  height: 1600px;
  border-radius: 20px;
  background: linear-gradient(
    322deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(12, 26, 56, 1) 59%,
    rgba(60, 108, 152, 1) 100%
  );
}

.weatherCard {
  width: 380px;
  height: 500px;
  border-radius: 20px;
  background-image: url("./images/weatherBackground.jpg");
  background-size: 420px auto;
  background-repeat: no-repeat;
  margin: 60px 35px 20px 35px;
  display: inline-block;
}

/* weather card info */

.weatherCardInfo {
  width: 300px;
  height: 330px;
  background-color: rgba(55, 102, 177, 0.7);
  border-radius: 15px;
  margin: 40px;
  display: inline-block;
  text-align: center;
}

.location,
.sunPosition,
.info {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}
.location {
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin: 1.5rem 0 0 0;
}
.time {
  margin: 0 0 0.7rem 0;
  font-size: 16;
  font-weight: 700;
}
.sunText {
  position: relative;
  top: -6px;
}
.sunPosition img {
  width: 40px;
}
.temp {
  font-weight: 900;
  font-size: 66px;
  position: relative;
  top: -15px;
}
.descr {
  font-size: 14px;
  position: relative;
  top: -25px;
}
.info {
  line-height: 25px;
  font-size: 14px;
}
.topText {
  font-weight: 700;
}
hr {
  border: none;
  height: 1px;
  background: rgb(255, 255, 255);
  background: repeating-linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 5px,
    transparent 5px,
    transparent 16px
  );
  width: 200px;
  position: relative;
  top: -10px;
}

/* weather card info */

/* weather houry cards */
.hourlyCardContainer {
  display: flex;
  background-color: rgba(183, 196, 207, 0.2);
  padding: 15px 0;
  overflow-y: hidden;
}
.hourlyCard {
  width: 70px;
  height: 110px;
  background-color: #84bfcd;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  margin: 0 5px;
}
.hourlyCard .time {
  padding-top: 10px;
}
.hourlyCard .mainIcon {
  width: 50px;
  padding: 0 10px;
  position: relative;
  top: -20px;
}
.hourlyCard .temp {
  font-size: 14px;
  position: relative;
  top: -30px;
}
.hourlyCard .precipCont {
  display: flex;
  position: relative;
  top: -30px;
  margin: 5px 0 0 18px;
}
.hourlyCard .dropIcon {
  height: 9px;
}

.hourlyCardContainer::-webkit-scrollbar {
  height: 5px;
}
.hourlyCardContainer::-webkit-scrollbar-track {
  background: rgba(75, 163, 185, 0.3);
  border-radius: 10px;

  margin: 0 10px;
}
.hourlyCardContainer::-webkit-scrollbar-thumb {
  background: #84bfcd;
  border-radius: 10px;
}
.hourlyCardContainer::-webkit-scrollbar-thumb:hover {
  background: #b4d3db;
}
/* weather houry cards */

/* weather daily list */

/* weather daily list */
